/*scrollbar-width: none;*/
*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  border: 0;
  font-family: "Georama", sans-serif;
  color: grey;
  overflow-x: hidden;
}

.page-container {
  margin-left: 100px;
  margin-right: 100px;
}

p {
  color: black;
}

.content__item {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  counter-increment: itemcounter;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.button {
  pointer-events: auto;
  cursor: pointer;
  background: #e7e7e7;
  border: none;
  padding: .5rem 1.5rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
}

.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button--mimas {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 900;
  font-size: 0.85rem;
  border-radius: 0.5rem;
  overflow: hidden;
  color: #69b3a2;
  background: white;
}

.button--mimas span {
  color: #69b3a2;
  position: relative;
  mix-blend-mode: difference;
}

.button--mimas::before {
  content: "";
  background: #69b3a2;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.button--mimas:hover::before {
  transform: translate3d(100%, 0, 0);
}
